@import "tailwindcss";

* {
      font-family: sans-serif;
}


td{
  border-bottom: 1px solid grey;
}

/* Scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Tailwind's gray-300 */
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0; /* Tailwind's gray-400 */
}
